.buttonLogin {
    -fx-background-color:  #56a5a6;
    -fx-border-color:  #56a5a6;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.buttonLogin:hover {
    -fx-background-color: white;
    -fx-border-color: #56a5a6;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-text-fill: #56a5a6;
}